@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div id="custom-background" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div id="click-background" class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <div id="custom-sidebar" class="pointer-events-auto relative w-screen max-w-md">
                    <div class="absolute left-0 top-0 -ml-8 flex pr-2 pt-4 sm:-ml-10 sm:pr-4">
                        <button id="toggleButton" type="button" class="relative rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                            <span class="absolute -inset-2.5"></span>
                            <span class="sr-only">Close panel</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <side-panel title="My side panel">
                        <input type="text" secure-roles="admin" is-editable="true" class="border-2 border-gray-300 p-2 rounded-md" />
                        <section secure-roles="admin" is-editable="true">Sidebar Section</section>
                        <div secure-roles="admin" is-editable="true">Sidebar Div</div>
                        <textarea secure-roles="admin" is-editable="true">Sidebar Edit</textarea>
                        <button id="save" secure-roles="admin" is-editable="true" class="btn btn-primary position-absolute bottom-0">Save</button>
                    </side-panel>
                </div>
            </div>
        </div>
    </div>
</div>